@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 42% 99%;
    --foreground: 245 79% 1%;
    --muted: 215 35% 95%;
    --muted-foreground: 215 4% 25%;
    --popover: 245 42% 99%;
    --popover-foreground: 245 79% 1%;
    --card: 245 42% 99%;
    --card-foreground: 245 79% 1%;
    --border: 245 13% 93%;
    --input: 245 13% 93%;
    --primary: 215.09 82% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267.17 82% 46%;
    --secondary-foreground: 0 0% 100%;
    --accent: 303.4 58.33% 36.44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 22 82% 31%;
    --destructive-foreground: 0 0% 100%;
    --ring: 245 82% 46%;
    --radius: 0.5rem;
  }

  /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 220.47 98.26% 36.08%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 92.99% 56.11%;
    --destructive-foreground: 210 40% 98%;
    --ring: 220.67 97.83% 36.08%;
    --radius: 0.5rem;
  } */

  .dark {
    --background: 0 0% 6.27%;
    --foreground: 252 37% 98%;
    --muted: 0 0% 10.98%;
    --muted-foreground: 0 0% 62.75%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 0 0% 6.27%;
    --card-foreground: 252 37% 99%;
    --border: 0 0% 15.69%;
    --input: 0 0% 10.98%;
    --primary: 27.06 100% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 164.12 100% 80%;
    --secondary-foreground: 0 0% 0%;
    --accent: 27.06 100% 80%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 21.31% 11.96%;
    --destructive-foreground: 0 100% 75.1%;
    --ring: 27.06 100% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-width: 400px;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--secondary));
    border-radius: 5px;
    transition: all 0.5s;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--primary-foreground));
  }
}
